name: Build and upload images to Docker hub

on:
  schedule:
    # First day of every month, you know, for automatic updates etc.
    - cron: "0 0 1 * *"
  push:
    branches:
      - master

jobs:
  build_and_upload:
    name: Build and upload
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.9

      - name: Install Poetry
        run: pip install poetry

      - name: Install dependencies
        run: poetry install

      - name: Build images
        run: poetry run build

      - name: Install Trivy
        run: |
          sudo apt-get install wget apt-transport-https gnupg lsb-release
          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
          echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee -a /etc/apt/sources.list.d/trivy.list
          sudo apt-get update
          sudo apt-get install trivy

          # Update the DB so we can skip it later
          trivy image --download-db-only

      - name: Trivy security scan
        run: |
          IMAGES=$(poetry run list)
          for image in $IMAGES; do
            trivy image --skip-update --severity HIGH,CRITICAL --exit-code 1 "$image"
          done

      - name: Upload images
        if: success()
        run: |
          echo "$PASSWORD" | docker login --username "$USERNAME" --password-stdin
          poetry run upload
        env:
          USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          PASSWORD: ${{ secrets.DOCKERHUB_TOKEN }}
